@use "tailwindcss";

/* Global Styles */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, Roboto, "Helvetica Neue", sans-serif;
  background: #f8fafc;
}

* {
  box-sizing: border-box;
}